@charset "UTF-8";

* {

}
html{
  scroll-behavior: smooth;
}
header{
  position: static;
}


body{
           font-family: Arial, Helvetica, sans-serif;
           background-color: #87cefa;
       }
       nav{
           background-color: rgb(131, 124, 115);
           padding: 3px;
           text-align: center;
           box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.418);
       }
       nav > a:hover{

           text-decoration: underline;
           color: #25A2DC;
       }
       nav > a{
           text-decoration: none;
           color: white;
           font-weight: bold;
           margin: 12px;
       }
       article>h1{
           text-align: center;
       }
       header{
           padding: 10px;
           background-image: linear-gradient(90deg, #4ca1f5, #74b4f5);
           margin: 10px;
       }
       main{
           background-color: rgba(153, 11, 236, 0);
           padding: 10px;
           margin: auto;
           border-radius: 10px;
           box-shadow: 5px 5px 15px #130125af;
       }
       main>h1{
           text-shadow: 1px 1px 2px #412b57be;
           text-align: center;
           color: #8E5eBF;
       }
       h2{
           color: #7925cc;
       }
       p{
       text-align: justify;
       }
