<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eddy api</title>
  </head>
  <body>
    <header>
           <h1>Eddy api</h1>
           
    </header>
    <h1>End Points</h1>
    
      <li>
        <a href="/v1/8ball">8ball</a>
      </li>
      <li>
        <a href="/v1/cantadas">Cantadas</a>
      </li>
      <li>
        <a href="/v1/pensamento">Pensamento</a>
      </li>

    </div>

  </body>
  <style>
    @charset "UTF-8";


html{
  scroll-behavior: smooth;
}
header{
  position: static;
}


body{
           font-family: Arial, Helvetica, sans-serif;
           background-color: #87cefa;
       }
       nav{
           background-color: rgb(131, 124, 115);
           padding: 3px;
           text-align: center;
           box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.418);
       }
       article>h1{
           text-align: center;
       }
       header{
           padding: 10px;
           background-image: linear-gradient(90deg, #4ca1f5, #0c7ae7);
           margin: 10px;
       }

       main>h1{
           text-shadow: 1px 1px 2px #412b57be;
           text-align: center;
           color: #230edf;
       }
       h2{
           color: #5250c5;
       }
       p{
       text-align: justify;
       }
       li{
        color: #0c7ae7;
       }
       li>a{
        text-decoration: none;
        color: #0dce06;
       }
       li>a:hover{
        text-decoration:underline;
       }


  </style>
</html>
