<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eddy api</title>
  </head>
  <body>
    <header>
           <h1>Eddy api</h1>
           
    </header>
    <h1 class="p">End Points</h1>
    <h2>Aleatório</h2>
      <li>
        <a href="/v1/8ball">8ball</a>
      </li>
      <li>
        <a href="/v1/cantadas">cantadas</a>
      </li>
      <li>
        <a href="/v1/pensamentos">pensamentos</a>
      </li>
      <h2>Imagens</h2>
      <li>
        <a href="/v1/imagens/abraço">abraco</a>
      </li>
      <h2>Utilidades</h2>
      <li>
        <a href="/v1/binario-encode/q=olá">binario encode</a>
        <p>Uso: /v1/binario-encode/[TEXTO]</p>
      </li>
      <li>
        <a href="/v1/binario-decode/q=olá">binario decode</a>
        <p>Uso: /v1/binario-decode/[TEXTO]</p>
      </li>
      <li>
        <a href="/v1/cor/007fff">cor</a>
        <p>Uso: /v1/cor/[HEX DA COR]</p>
      </li>
  </body>
  <style>
    @charset "UTF-8";


html{
  scroll-behavior: smooth;
}
header{
  position: static;
}


body{
           font-family: Arial, Helvetica, sans-serif;
           background-color: #87cefa;
       }
       nav{
           background-color: rgb(131, 124, 115);
           padding: 3px;
           text-align: center;
           box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.418);
       }
       article>h1{
           text-align: center;
       }
       header{
           padding: 10px;
           background-image: linear-gradient(90deg, #4ca1f5, #0c7ae7);
           margin: 10px;
           color: #0929df;
           text-align: center;
       }
       h2{
           color: #000000;
       }
       h1.p{
        color: #1a01ffa4;
        text-align: center;
       }
       p{
       text-align: justify;
       }
       li{
        color: #0c7ae7;
       }
       li>p:hover{
        color: #0929df;
       }
       li:hover{
        color: #000000;
       }
       li>a{
        text-decoration: none;
        color: #0dce06;
       }
       li>a:hover{
        color: #0929df;
       }
       


  </style>
</html>
